.home {
    width: 100%;
    margin: 0 auto;
  }
  
  .heroSection {
    background-image: url('../../public/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px; 
  }
  
  .heroContent {
    color: white;
    text-align: right;
  }
  
  .heroContent h2 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 6rem;
  }
  
  .heroContent p {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .discoverButton {
    width: 156px;
    height: 48px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  
  .discoverButton:hover {
    background-color: #fff;
    color: black;
  }

/* Seção Quem Somos */
.aboutSection {
  padding: 50px 10px; 
  background-color: #161616;
  color: #fff;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutTitle {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.aboutBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  width: 100%;
}

.aboutText {
  flex: 1;
  padding-right: 10px;
}

.aboutText h2 {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

.aboutText p {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 30px;
}

.aboutImage img {
  max-width: 750px;
  height: auto;
  border-radius: 8px;
}
/* Seção Sobre Nós */
.aboutSection {
    padding: 50px 10px; 
    background-color: #161616;
    color: #fff;
  }
  
  .aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutTitle {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .aboutBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 90%;
    width: 100%;
  }
  
  .aboutText {
    flex: 1;
    padding-right: 10px;
  }
  
  .aboutText h2 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .aboutText p {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .aboutImage img {
    max-width: 750px;
    height: auto;
    border-radius: 8px;
  }  
  /* Seção Serviços */
.servicesSection {
    padding: 60px 10px;
    background-color: #1a1a1a;
  }
  
  .servicesTitle {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .servicesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .serviceCard {
    background-color: #373737;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .serviceCard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .serviceCard h3 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    margin: 15px 0;
  }
  
  .serviceCard p {
    font-family: "Bevan", serif;
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 15px;
  }
  
  .serviceButton {
    width: 100px;
    height: 28px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .serviceButton:hover {
    background-color: #fff;
    color: black;
  }
  
  .serviceCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  /* Seção Equipe */
.teamSection {
    padding: 80px 20px;
    background-color: #212121;
    color: #fff;
    text-align: center;
  }
  
  .teamTitle {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-size: 3rem;
    color: #f5f5f5;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .teamCard {
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  }
  
  .teamCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  }
  
  .teamCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 3px solid #0073b1;
  }
  
  .teamCardContent {
    padding: 20px;
  }
  
  .teamCard h3 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .teamCard p {
    font-family: "Bevan", serif;
    font-size: 1rem;
    color: #b3b3b3;
    margin: 0;
  }
  
  .socialLinks {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .socialLinks a {
    color: #fff;
    font-size: 1.4rem;
    transition: color 0.3s, transform 0.3s;
  }
  
  .socialLinks a:hover {
    color: #0073b1;
    transform: scale(1.1);

  }
  .contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #161616;
    color: #fff;
  }
  
  .contactContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    gap: 50px;
  }
  
  .contactText {
    flex: 1;
  }
  
  .contactText h2 {
    font-family: "Bevan", serif;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .contactText p {
    font-family: "Bevan", serif;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .contactForm {
    flex: 1;
  }
  
  .formRow {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .formRow input, .formRow select, textarea {
    width: 100%;
    padding: 10px;
    font-family: "Bevan", serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    outline: none;
  }
  
  .formRow select {
    background-color: #333;
    color: #fff;
  }
  
  .contactForm textarea {
    border: none;
    border-bottom: 1px solid #fff;
    resize: none;
  }
  
  .contactForm button {
    padding: 10px 20px;
    font-family: "Bevan", serif;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contactForm button:hover {
    background-color: #fff;
    color: #161616;
  }
  -----------------------------
  .contactContent {
      flex-direction: column;
      align-items: center;
    }
  
    .contactForm, .contactText {
      width: 100%;
    }

    /* Responsividade para laptops */
@media (max-width: 1440px) {
    .heroSection {
      padding: 0 30px;
    }
  
    .heroContent h2 {
      font-size: 5rem;
    }
  
    .heroContent p {
      font-size: 1.25rem;
    }
  
    .discoverButton {
      width: 140px;
      height: 44px;
    }
  
    .aboutTitle, .servicesTitle, .teamTitle {
      font-size: 2.5rem;
    }
  
    .aboutText p, .serviceCard p, .teamCard p {
      font-size: 0.875rem;
    }
  }
  
  /* Responsividade para tablets */
  @media (max-width: 1024px) {
    .heroSection {
      padding: 0 20px;
    }
  
    .heroContent h2 {
      font-size: 4rem;
    }
  
    .heroContent p {
      font-size: 1rem;
    }
  
    .discoverButton {
      width: 120px;
      height: 40px;
      font-size: 12px;
    }
  
    .aboutBody {
      flex-direction: column; 
      align-items: center;
    }
  
    .aboutText {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .aboutImage img, .serviceCard, .teamCard {
      width: 100%;
    }
  
    .aboutTitle, .servicesTitle, .teamTitle {
      font-size: 2rem;
    }
  
    .aboutText p, .serviceCard p, .teamCard p {
      font-size: 0.75rem;
    }
  }
  
  /* Responsividade para celulares */
  @media (max-width: 768px) {
    .heroSection {
      justify-content: center;
      padding: 0;
    }
  
    .heroContent {
      text-align: center;
    }
  
    .heroContent h2 {
      font-size: 3rem;
    }
  
    .heroContent p {
      font-size: 0.875rem;
    }
  
    .discoverButton {
      width: 100%;
      height: 40px;
      font-size: 14px;
    }
  
    .aboutTitle, .servicesTitle, .teamTitle {
      font-size: 2rem;
    }
  
    .aboutText p, .serviceCard p, .teamCard p {
      font-size: 0.75rem;
    }
  
    .serviceCard, .teamCard {
      flex-basis: 100%;
    }

    .contactContent {
        flex-direction: column;
        align-items: center;
      }
    
      .contactForm, .contactText {
        width: 100%;
      }
  }
  
  /* Responsividade para celulares pequenos */
  @media (max-width: 480px) {
    .heroContent h2 {
      font-size: 2.5rem;
    }
  
    .heroContent p {
      font-size: 0.75rem;
    }
  
    .discoverButton {
      width: 100%;
      height: 36px;
      font-size: 12px;
    }
  
    .aboutTitle, .servicesTitle, .teamTitle {
      font-size: 1.5rem;
    }
  
    .aboutText p, .serviceCard p, .teamCard p {
      font-size: 0.625rem;
    }

    
  }

  